* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f2f2f2;
}

.content-center {
    width: 100%;
    max-width: 300px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
}

.content-center .text-center {
    text-align: center;
}

.content-center img {
    width: 70%;
}

.content-center form {
    margin: 20px;
}

.content-center input, button {
    width: 100%;
    padding: 10px 5px;
    border: none;       /*retirando borda*/
    outline: none;
}

.content-center input {     /*aplicando a linha no imput*/
    border-bottom-color: #ccc;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin-bottom: 10px;
}

.content-center input:focus {       /*input selecionado*/
    border-bottom-color: #f17623;    
}

.content-center button {
    background-color: #f17623;
    color: #fff;
}

/* .content-center button:hover {
    background-color: #b55b28;
    cursor: pointer;
} */

/* .content-center button:active {
    background-color: #c14e0e;
} */

header a {
    color: #666;
    text-decoration: none;  /*retirando o sublinhado*/
}

header h1 {
    font-size: 2.5em;
    text-align: center;
    margin: 50px auto;
}

footer {
    font-size: 0.8em;
    text-align: center;
}

.content-tabuada {
    width: 100%;
    text-align: center;
    max-width: 500px;
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px 0;
}
.content-tabuada table {
    width: 100%;    /*para fazer a tabela ocupar 100% do espaço branco*/
    border-collapse: collapse;  /*retira o espaçamento central entre as colunas*/
}

.content-tabuada td {
    padding: .75rem;  /*distanciamento entre os itens da tabela*/
    border-top: 1px solid #dee2e6;  /*linha top em todos os itens*/
}

.content-tabuada tbody tr:nth-child(odd){ /* odd é para intercalar, par ou impar, começando pelo primeiro. (even) começa pelo segundo   / / / / / / / se colocar nº3, marca a 3ª linha da tabela*/
    background-color: rgba(0, 0, 0, .05);
}

.content-tabuada tbody tr:hover {       /*quando passar o mouse*/
    background-color: rgba(0, 0, 0, .15);
    cursor: pointer;    /*caso queira selecionar*/
}

/*criado após aula 226... para funções*/
#valorA {
    width: 100%;
    padding: 10px;
}







/* 
Criado para lista.html */

.todo {
    list-style: none;
    padding: 0;
}

.todo li {
    padding: 13px 10px 7px 10px;  /*para distanciar os elementos da lista*/
    border-bottom: #ccc 1px solid;    
}

.todo li input {
    width: initial;
    margin-right: 10px;
}

.todo li.complete {
    text-decoration: line-through;  /*decoração de linha riscando*/
    color: #999;
    cursor: not-allowed; /*cursos não permitido*/
}

#new-task {
    width: 100%;
    padding: 10px;
}

/*edição do botão de exclusão*/
.todo button {
    width: initial;
    color: #fff;
    background-color: rgb(245, 0, 0);
    float: right;
    min-width: 24px;
    bottom: 2px;
    position: relative;
    padding: 5px;   
    transition: 0.2s; 
}
.todo button:hover{    
    background-color:rgb(200, 0, 0);
    cursor: pointer;
    border-radius: 15px;    
}




